---
import { SITE } from "@constants";
import { getPageMenuLinksFromPath } from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import KeepCard from "@components/KeepCard.astro";
import Pagination from "@components/Pagination.astro";

const pageMenuLinks = getPageMenuLinksFromPath("/keeps");

export async function getStaticPaths({ paginate }) {
  const keeps = await getCollection("keeps");

  return paginate(keeps, { pageSize: SITE.KEEPS_PER_PAGE });
}

const { page } = Astro.props;
const { total, currentPage, lastPage } = page;
---

<CollectionLayout
  pageTitle={`keeps a few notes 📋${currentPage > 1 ? " (" + currentPage + "/" + lastPage + ")" : ""}`}
  heroText="Keeps"
  heroDescenders={true}
  {pageMenuLinks}
  {currentPage}
>
  <section class="contain">
    {
      currentPage === 1 && (
        <div class="center-full">
          <h2 class="h3 bg">
            These are all of the notes.
            <span class="bg-quaternary no-pad">More to come 💪.</span>
          </h2>
        </div>
      )
    }

    {page.data.map((keep) => <KeepCard data={keep} />)}

    <Pagination
      {total}
      {currentPage}
      {lastPage}
      label="keeps"
      nextUrl={page.url.next}
      prevUrl={page.url.prev}
    />
  </section>
</CollectionLayout>
