---
import { SITE } from "@constants";
import { getPageMenuLinksFromPath } from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import KeepCard from "@components/KeepCard.astro";
import Pagination from "@components/Pagination.astro";

const pageMenuLinks = getPageMenuLinksFromPath("/keeps");

export async function getStaticPaths({ paginate }) {
  const keeps = await getCollection("keeps");
  return paginate(keeps, { pageSize: SITE.KEEPS_PER_PAGE });
}

const { page } = Astro.props;
const { total, currentPage, lastPage } = page;
---

<CollectionLayout
  pageTitle={`keeps a few notes 📋${currentPage > 1 ? " (" + currentPage + "/" + lastPage + ")" : ""}`}
  heroText="Keeps"
  heroDescenders={true}
  {pageMenuLinks}
  {currentPage}
>
  <section class="contain">
    {
      currentPage === 1 && (
        <div class="center-full">
          <h2 class="h3 border-quaternary bg">
            These are all of the notes - yep just a big giant list of them.
            <span class="bg-opposite no-pad">
              Once I write more notes they'll show up here, too 🤪
            </span>
          </h2>
        </div>
      )
    }

    <div class="list">
      {page.data.map((keep) => <KeepCard data={keep} />)}
    </div>

    <Pagination
      {total}
      {currentPage}
      {lastPage}
      label="keeps"
      nextUrl={page.url.next}
      prevUrl={page.url.prev}
    />
  </section>
</CollectionLayout>

<style lang="scss">
  @use "@css/util";

  .list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2.5rem;

    @include util.mq(md) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
</style>
