---
import NoteLayout from "@layouts/NoteLayout.astro";
import HeroText from "@components/HeroText.svelte";

const particleQuantity = 15;
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const hasLS = typeof window.localStorage !== "undefined";
    const readMoreButton = document.getElementById("read-more_toggle");
    const readMoreCutoff = document.querySelector(".read-more_cutoff");
    const readMoreDiv = document.getElementById("read-more_text");

    let isExpanded = false;

    function toggleExpandAbout() {
      readMoreButton.setAttribute(
        "aria-selected",
        isExpanded ? "true" : "false",
      );
      readMoreDiv.setAttribute("aria-hidden", isExpanded ? "false" : "true");
      readMoreButton.classList.remove("pulse");
      readMoreButton.innerText = isExpanded ? "Load less" : "Load full story";
      readMoreCutoff.classList[isExpanded ? "add" : "remove"]("hide");
    }

    readMoreButton.addEventListener("click", () => {
      isExpanded = !isExpanded;
      if (hasLS) window.localStorage.setItem("aboutexpanded", isExpanded);
      toggleExpandAbout();
    });

    if (window.localStorage.getItem("aboutexpanded") === "true") {
      isExpanded = true;
      toggleExpandAbout();
    }
  });
</script>

<NoteLayout
  frontmatter={{ title: "About", description: "About Josh", image: null }}
>
  <div class="particles">
    {[...Array(particleQuantity).keys()].map((p) => <i />)}
  </div>
  <section>
    <HeroText text="About" size="13" />

    <div class="box intro">
      <p class="h4">
        Oh... I didn't see you there - come on in and make yourself comfortable.
        Since you've made the journey all the way to the about page, let's get
        better acquainted.
      </p>
    </div>

    <div class="box story">
      <h2 class="h3 bg border text-center">My Story</h2>
      <p>
        When I was growing up, my mom always had a computer around, whether it
        was at home or at her job. I remember playing the floppy disk games my
        parents bought - I was never able to beat them and I always got mad
        because they were too hard for a little kid. As I grew up, there seemed
        to always be something exciting happening on the computer. Whether it
        was my uncle Mike showing me computer games when we went out to visit or
        my computer classes in elementary and middle school, I felt right as
        rain when I was on the old board'n'mouse.
      </p>

      <div class="read-more_cutoff">
        <p>
          When I was 13, my friend Louis introduced me to a little shop down the
          street called a cyber cafe. I never imagined in a million years there
          would be...
        </p>
      </div>

      <div
        id="read-more_text"
        aria-hidden="true"
        aria-labelledby="read-more_toggle"
      >
        <p>
          One summer, my friend Louis introduced me to a little shop down the
          street called a cyber cafe. I never imagined in a million years there
          would be a place full of people that was dedicated to playing computer
          games - I was in heaven. I realized I could play some of the popular
          games on the family computer, so I started playing everything I could
          get my hands on from Starcraft and Diablo 2 to Roller Coaster Tycoon.
          I would play as much as I could during the day, and then sneak down at
          night to play some more when everybody was sleeping.
        </p>

        <p>
          Eventually I installed Counter-strike - in that game you could create
          your own spray paint image, and there was nothing cooler than that! I
          pirated a copy of Adobe Fireworks from Limewire and began learning how
          to create a spray. Down the road, my learning would evolve into all
          sorts of neat stuff, like how to create websites.
        </p>

        <p>
          When I was in 8th grade my parents bought me my very own computer for
          my birthday - it was the best gift I've ever received. Pretty soon,
          all of my friends were getting into computers, too. We started having
          LAN parties every free weekend we could. Even if the switch broke or
          the ethernet cords didn't work, at least we were all hanging out and
          having fun. Those will always be some of my most-cherished memories.
        </p>

        <p>
          Life started happening towards the end of high school, but I continued
          with my love of computers in between work. I eventually got a job at
          that cyber cafe down the street, and would work there on-and-off until
          it closed down around 7 or 8 years later.
        </p>

        <p>
          During one of the <i>off</i> times, I went to cosmetology school and got
          my cosmetology license. I figured I needed to do something that was going
          to be steady and enjoyable. Unfortunately, I sucked at cosmetology, so
          shortly after getting my license I went back to the cafe. It wasn't all
          bad, though, because I made one amazing friend along the way (hi, Alison!)
        </p>

        <p>
          All the while, ever since that first copy of Adobe Fireworks, I had
          been creating terrible websites for fun. When I turned up broke and
          stressed out in my mid twenties, my awesome roomate pushed me to get a
          recruiter and try for a web developer job so I could pay rent. I got
          my first career job working for a jewelry company's marketing team,
          and after that I went on to work for a sweet agency downtown. I have
          Dan to thank for starting my career as a developer. Unlike
          cosmetology, I did not suck at web dev, and even got promoted a few
          times, which was pretty cool.
        </p>

        <p>
          After five years at my second job, I counted myself successful and had
          made a good living, but became mired in the day-to-day and began
          losing my flame. I decided to take a break and see if it was the job,
          me, or something else that had made me become disillusioned with work.
          Almost two years later, it turned out to be a little of everything,
          but I'm getting back in the saddle (this site is a part of that). If
          you made it all the way to here, then you're all caught up.
        </p>
      </div>

      <button
        class="pulse"
        id="read-more_toggle"
        aria-selected="false"
        aria-controls="read-more_text">Load full story</button
      >
    </div>

    <div class="box">
      <h2 class="h3 bg border text-center">Interests & Hobbies</h2>
      <p>
        I love fiddling with computers, watching movies and shows, playing games
        with friends, and listening to music. I like going out to eat, going to
        the movies, and I also enjoy the occassional shopping trip. When the
        mood strikes, I like reading or listening to an audio book.
      </p>
    </div>

    <div class="box">
      <h2 class="h3 bg border text-center">Character</h2>
      <p>
        I strive to be measured and kind to others. I've got a goofy streak and
        a dumb sense of humor. I'm pretty introverted, so I prefer one-on-one
        interactions and generally shy away from things like concerts or sports
        arenas.
      </p>

      <div class="box">
        <h2 class="h3 bg border text-center">Favorite Foods</h2>
        <p>
          Some of my favorite things to eat are pho, Singapore mei fun, giros,
          tacos burritos, hamburgers, patty melts, steaks, and salads. I'll
          drink coffee or tea in the mornings on most days. I always enjoy a
          cold soda or beer. For desserts, it's mostly ice cream; aside from
          that, I don't have much of a sweet tooth. I'm not very picky when it
          comes to food - I'll try anything once.
        </p>
        <div class="box">
          <h2 class="h3 bg border text-center">My Dreams & Goals</h2>
          <p>
            When I was a kid, my only "adult goals" were to have my own place
            and my own car. I accomplished that goal by age 30, and after a
            while I became restless because I hadn't set any further goals.
            Recently, I finally settled on my post-adult goals, and it's funny
            because they are basically the same but a little more specific: own
            a bungalow-style house, get my next awesome car, and save for
            retirement!
          </p>
        </div>
      </div>
    </div>
  </section>

  <style lang="scss">
    @use "sass:math";
    @use "@css/util";

    :global(.head) {
      display: none;
    }

    :global(.content) {
      margin-top: 1rem;
      background-color: var(--c-tertiary) !important;
    }

    .h2 img {
      display: inline-block;
      max-height: 3rem;
      width: auto;
    }

    .box {
      width: 100%;
      margin-top: 3rem;

      .h4 {
        font-weight: normal;
        line-height: 1.4;
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 0.75em 1.4em 0.75em 2.85em;
        border: 2px solid var(--font-color);
        border-radius: 2px;
        font-weight: bold;
        font-size: 1.15rem;

        &:before {
          content: "";
          position: absolute;
          left: 8px;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;
          font-size: 2rem;
        }

        &:hover {
          text-decoration: underline;
        }

        &.who::before {
          content: "😮";
        }

        &.tech::before {
          content: "🤖";
        }
      }
    }

    .story div > p {
      margin-top: 1em;
    }

    #read-more_toggle {
      padding: 0.75em 1.4em;
      margin: 2rem auto 1rem;
    }

    #read-more_text[aria-hidden="true"] {
      display: none;
    }

    // CSS Pulse Animation by saigowtham
    // https://codepen.io/saigowthamr/pen/PowdZqy
    .pulse {
      animation: pulse-animation 2s infinite;
    }

    @keyframes pulse-animation {
      0% {
        box-shadow: 0 0 1px 1px rgb(101, 213, 238, 1);
      }
      100% {
        box-shadow: 0 0 0 20px rgb(101, 213, 238, 0);
      }
    }

    // CSS Fireflies by Mike Golus
    // https://codepen.io/mikegolus/pen/Jegvym
    $quantity: 15;
    .particles i {
      --particle-color: var(--c-tertiary);

      position: fixed;
      left: 50%;
      top: 50%;
      width: 0.4vw;
      height: 0.4vw;
      margin: -0.2vw 0 0 9.8vw;
      animation: ease 200s alternate infinite;
      pointer-events: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform-origin: -10vw;
      }

      &::before {
        background: transparent;
        opacity: 0.4;
        animation: drift ease alternate infinite;
      }

      &::after {
        background: var(--particle-color);
        opacity: 0;
        box-shadow: 0 0 0vw 0vw var(--font-color-opposite);
        animation:
          drift ease alternate infinite,
          flash ease infinite;
      }
    }

    @for $i from 1 through $quantity {
      $steps: math.random(12) + 16;
      $rotationSpeed: math.random(10) + 8s;

      .particles i:nth-child(#{$i}) {
        animation-name: move#{$i};

        &::before {
          animation-duration: #{$rotationSpeed};
        }

        &::after {
          animation-duration:
            #{$rotationSpeed},
            math.random(6000) + 5000ms;
          animation-delay:
            0ms,
            math.random(8000) + 500ms;
        }
      }

      @keyframes move#{$i} {
        @for $step from 0 through $steps {
          #{$step * calc(100 / $steps)}% {
            transform: translateX(math.random(100) - 50vw)
              translateY(math.random(100) - 50vh)
              scale(calc(math.random(75) / 100) + 0.25);
          }
        }
      }
    }

    @keyframes drift {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes flash {
      0%,
      30%,
      100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw var(--particle-color);
      }
      5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw var(--particle-color);
      }
    }
  </style>
</NoteLayout>
