---
import { SITE } from "@constants";
import { getPageMenuLinksFromPath } from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import Pagination from "@components/Pagination.astro";

const pageMenuLinks = getPageMenuLinksFromPath("/likes");
export async function getStaticPaths({ paginate }) {
  const games = await getCollection("games");

  return paginate(games, { pageSize: SITE.GAMES_PER_PAGE });
}

const { page } = Astro.props;
const { total, currentPage, lastPage } = page;
---

<CollectionLayout
  pageTitle="likes games 🎮"
  heroText="Likes"
  heroSubtext="games"
  {pageMenuLinks}
>
  <section class="contain">
    <Pagination
      {total}
      {currentPage}
      {lastPage}
      label="games"
      nextUrl={page.url.next}
      prevUrl={page.url.prev}
    />

    <div class="list">
      {page.data.map((game) => game.data.name)}
    </div>

    <Pagination
      {total}
      {currentPage}
      {lastPage}
      label="games"
      nextUrl={page.url.next}
      prevUrl={page.url.prev}
    />
  </section>
</CollectionLayout>

<style lang="scss">
  @use "@css/util";

  .list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;

    @include util.mq(md) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
