---
import { SITE } from "@constants";
import { getPageMenuLinksFromPath } from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import SteamCard from "@components/SteamCard.astro";
import Pagination from "@components/Pagination.astro";

const pageMenuLinks = getPageMenuLinksFromPath("/likes");
export async function getStaticPaths({ paginate }) {
  const excluded = [723090];
  const games = await getCollection("games", ({ data }) => {
    return excluded.indexOf(data.appid) === -1 && data.name;
  });

  return paginate(games, { pageSize: SITE.GAMES_PER_PAGE });
}

const { page } = Astro.props;
const { total, currentPage, lastPage } = page;
---

<CollectionLayout
  pageTitle={`🎮 All Games${currentPage > 1 ? " (" + currentPage + "/" + lastPage + ")" : ""}`}
  heroText="Likes"
  heroSubtext="games"
  {pageMenuLinks}
  {currentPage}
  pageDescription="A (big) list of the games Josh has played"
>
  <section class="contain">
    <Pagination
      {total}
      {currentPage}
      {lastPage}
      label="games"
      nextUrl={page.url.next}
      prevUrl={page.url.prev}
    />

    <div class="list">
      {page.data.map((game) => <SteamCard data={game} />)}
    </div>

    <Pagination
      {total}
      {currentPage}
      {lastPage}
      label="games"
      nextUrl={page.url.next}
      prevUrl={page.url.prev}
    />
  </section>
</CollectionLayout>

<style lang="scss">
  @use "@css/util";

  .list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;
  }
</style>
