---
import { getPageMenuLinksFromPath } from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";

const keeps = await getCollection("keeps");
const tags = [...new Set(keeps.map((k) => k.data.tags).flat())];
const pageMenuLinks = getPageMenuLinksFromPath("/keeps");

const tagsCount = {};
tags.forEach((t) => {
  tagsCount[t] = 0;
  keeps.forEach((k) => {
    if (k.data.tags.includes(t)) tagsCount[t]++;
  });
});
---

<CollectionLayout
  pageTitle="keeps tags on notes ðŸ·ï¸"
  heroText="Keeps"
  heroDescenders={true}
  {pageMenuLinks}
>
  <section class="contain">
    <div class="center-full">
      <h2 class="h3 border-quaternary bg">
        Browse all the notes by tag ðŸ˜±?
        <span class="bg-opposite no-pad">You can totally do that!</span>
      </h2>
    </div>

    <div class="list">
      {
        tags.map((t) => (
          <a class="card" href={`/keeps/tags/${t}`}>
            <i>#</i>
            {t} <span>{tagsCount[t]}</span>
          </a>
        ))
      }
    </div>
  </section>
</CollectionLayout>

<style lang="scss">
  @use "@css/util";

  .list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;

    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--page-color);
      color: var(--c-black);
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 1;
      padding: 0.1rem 0.4rem;
      border: 3px solid var(--font-color);
      border-right: 0;
      border-top: 0;
      border-top-right-radius: 0.1rem;
    }
  }

  i {
    position: relative;
    display: inline-block;
    transform: scale(1.5);
    color: var(--page-color);
  }

  .card {
    position: relative;
    width: 100%;
    padding: 1.4rem 1rem 1rem;
    border: 3px solid var(--font-color);
    text-decoration: none;
    border-top-right-radius: 0.5rem;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }

    @include util.mq(sm) {
      width: auto;
      font-size: 2rem;
      border-width: 6px;
    }
  }
</style>
