---
import { Image } from "astro:assets";
import { getCssClamp, formatDate } from "@util";
const { data } = Astro.props;
const keepId = data.id;
const keepData = data.data;

const imagesGlob = import.meta.glob("@images/*.{webp,jpg,png}");
const img = keepData.image
  ? imagesGlob[`/src/images/${keepData.image.pathname}`]()
  : null;

const titleSize = 2;
const clampStr = getCssClamp(
  (Math.floor((titleSize / 1.2) * 100) / 100) * 16,
  titleSize * 16,
);
const date = formatDate(
  keepData.updated ? "" + keepData.updated : "" + keepData.date,
);
---

<a class="card" href={`/keeps/${keepId}`}>
  <div
    class:list={["wrapper", { "no-img": !img }]}
    style={`--title-size: ${clampStr}`}
  >
    {
      img && (
        <Image
          src={img}
          alt="random post background"
          width="500"
          height="286"
        />
      )
    }
    <div class="title"><span>{keepData.title}</span></div>
    <div class="date">{date}</div>
  </div>
</a>

<style lang="scss">
  .card {
    --title-size: 2rem;

    position: relative;
    display: block;
    height: 100%;
    text-decoration: none;
  }

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    border: 4px solid var(--font-color);

    &.no-img {
      background-color: var(--font-color-opposite);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }

    .title {
      font-size: var(--title-size);
      font-weight: bold;
      padding: 1.5em 0.2em;
      line-height: 1.1;
      text-align: center;

      span {
        background-color: var(--font-color-opposite);
        padding: 0 0.25rem;
      }
    }

    .date {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 1;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 0.3em 0.3em 0.1em;
      color: var(--font-color-opposite);
      background-color: var(--content-transparent-opposite);
    }
  }

  .summary {
    font-size: 1rem;
  }
</style>
