---
import { Image } from "astro:assets";
import { getCssClamp, formatDate } from "@util";
const { data, featured = false } = Astro.props;
const noteId = data.id;
const noteData = data.data;

const imagesGlob = import.meta.glob("@images/*.{webp,jpg,png}");
const img = noteData.image
  ? imagesGlob[`/src/images/${noteData.image.pathname}`]()
  : null;

const titleSize = 2;
const clampStr = getCssClamp(
  (Math.floor((titleSize / 1.2) * 100) / 100) * 16,
  titleSize * 16,
);
const date = formatDate(
  noteData.updated ? "" + noteData.updated : "" + noteData.date,
);
---

<a class:list={["card", featured]} href={`/notes/${noteId}`}>
  <div class="wrapper" style={`--title-size: ${clampStr}`}>
    {img && <Image src={img} alt="" width="500" height="286" />}
    <div class="title">{noteData.title}</div>
    <div class="date">
      {noteData.updated ? "Updated " : "Written "}{date}
    </div>
    {noteData.description && <p class="description">{noteData.description}</p>}
  </div>
</a>

<style lang="scss">
  .card {
    --title-size: 2rem;
    --img-height: 286px;

    position: relative;
    display: block;
    text-decoration: none;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    .title {
      font-size: var(--title-size);
      font-weight: bold;
      line-height: 1;
      padding: 0.34em 0 0;
    }

    .date {
      line-height: 1;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.34em 0 0.5em;
    }

    .description {
      font-size: 1.1rem;
      line-height: 1.2;
      opacity: 0.75;
    }
  }
</style>
