---
import { Image } from "astro:assets";
import { getCssClamp, formatDate } from "@util";
const { data, featured = false } = Astro.props;
const postId = data.id;
const postData = data.data;

const imagesGlob = import.meta.glob("@images/*.{webp,jpg,png}");
const img = postData.image
  ? imagesGlob[`/src/images/${postData.image.pathname}`]()
  : null;

const titleSize = 2;
const clampStr = getCssClamp(
  (Math.floor((titleSize / 1.2) * 100) / 100) * 16,
  titleSize * 16,
);
const date = formatDate(
  postData.updated ? "" + postData.updated : "" + postData.date,
);
---

<a class:list={["card", featured]} href={`/posts/${postId}`}>
  <div class="wrapper" style={`--title-size: ${clampStr}`}>
    {img && <Image src={img} alt="" width="500" height="286" />}
    <div class="title">{postData.title}</div>
    <div class="date">{date}</div>
    {postData.description && <p class="description">{postData.description}</p>}
  </div>
</a>

<style lang="scss">
  .card {
    --title-size: 2rem;
    --img-height: 286px;

    position: relative;
    display: block;
    height: 100%;
    text-decoration: none;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
      width: 100%;
    }

    .title {
      font-size: var(--title-size);
      font-weight: bold;
      line-height: 1;
      padding: 0.2em 0 0;
    }

    .date {
      line-height: 1;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.2em 0 0.7em;
    }

    .description {
      font-size: 1.1rem;
      line-height: 1.2;
    }
  }
</style>
