---
import { Image } from "astro:assets";
const { data, mini } = Astro.props;

const itemData = data.data;
const itemId = data.id;
const imagesGlob = import.meta.glob("@slurpi/public/images/radio/*.jpg");
const img =
  imagesGlob[
    Object.keys(imagesGlob).filter(
      (k) =>
        k.split("/")[k.split("/").length - 1].replace(".jpg", "") === itemId,
    )[0]
  ]();
---

{
  !mini && (
    <a class="card" href={itemData.url} data-radio-id={itemId} data-link>
      <Image
        src={img}
        alt={`art for ${itemData.name}`}
        width="300"
        height="300"
      />
      <div class="over">
        <div class="title">{itemData.name}</div>
      </div>
    </a>
  )
}

{
  mini && (
    <a
      class="card-mini"
      data-radio-id={itemId}
      href={itemData.url}
      title={itemData.name}
    >
      <Image
        src={img}
        alt={`art for ${itemData.name}`}
        width="300"
        height="300"
      />
      <div class="over">
        <div class="title">{itemData.name}</div>
      </div>
    </a>
  )
}

<style lang="scss">
  @use "@css/util";

  .card {
    position: relative;
    display: block;
    border-radius: 0.7rem;
    margin: auto;

    &::after {
      display: none;
    }

    img {
      position: relative;
      display: flex;
      border-radius: 0.7rem;
    }

    .over {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 0;
      left: 0;
      width: 100%;
      gap: 0.2rem;
      padding: 0.5rem 0.4rem;
      background-color: var(--content-transparent);
      backdrop-filter: blur(6px);
      border-bottom-left-radius: 0.7rem;
      border-bottom-right-radius: 0.7rem;
    }

    .title {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.1;
    }
  }

  .card-mini {
    position: relative;
    display: block;
    font-size: 0.7rem;
    line-height: 1;
    border-left: 0;
    box-shadow: 0px 0px 18px 0px transparent;
    transition: 0.1s ease-out;

    &::after {
      display: none;
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.1);
      z-index: 2;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
    }

    img {
      width: 100px;
      height: 100px;
    }

    .over {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.1rem 0.3rem;
      font-size: 0.7rem;
      background: var(--content-transparent);
    }

    .title {
      font-weight: bold;
    }
  }
</style>
