---
import { getCollection } from "astro:content";
import { getPageMenuLinksFromPath, getEmojiFromCategory } from "@util";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import TMDBCard from "@components/TMDBCard.astro";
import SpotifyCard from "@components/SpotifyCard.astro";
import SteamCard from "@components/SteamCard.astro";

const pageMenuLinks = getPageMenuLinksFromPath("/likes");

const allTimeMoviesIds = [
  "10406", //encino man
  "348", //alien
  "563", //starship troopers
  "926", //galaxy quest
  "579974", //RRR
  "800937", //senior year
  "19995", //avatar
  "1648", //bill & ted 1
  "332270", //battle for sevastapol
  "13363", //man from earth
];
const allTimeShowsIds = [
  "64432", //the magicians
  "1855", //star trek voyager
  "580", //start trek ds9
  "4629", //stargate sg-1
  "63333", //the last kingdom
  "56296", //orphan black
  "4586", //gilmore girls
  "61664", //sense8
  "10545", //true blood
  "39793", //call the midwife
];
const allTimeSongsIds = [
  "5SG2BVsZr0W7cFAkjh60TT", //the bottom
  "1YfbJV5J2V2fU5OcFmzi03", //elevator
  "7Ak2cwmIfDRuXkvg4T1OWL", //ambrosia
  "4niDU35YEMnJIQjKb506hb", //alchemy
  "6vzrbjMSJqo3OURh3KEPu0", //cora may
  "2LkPVbDZkWjBeZn5gEkmOt", //maurine
  "1K2vCXEItfiz7Yp5PQXFkx", //city girl
  "5NfAqXJmhvm3Oup4VoWHx9", //empty streets
  "2c6m3dyH0dn9bDf3RJxedu", //little death
  "48uJhKG2MEAmuuHVbYlQeI", //same logic/teeth
];

const allTimeMovies = await getCollection("movies", ({ id }) =>
  allTimeMoviesIds.includes(id),
);
const allTimeShows = await getCollection("shows", ({ id }) =>
  allTimeShowsIds.includes(id),
);
const allTimeSongs = await getCollection("songs", ({ id }) =>
  allTimeSongsIds.includes(id),
);
const topGames = await getCollection(
  "games",
  ({ data }) => data.playtime_forever > 15000,
);
---

<CollectionLayout pageTitle="🔥 Top Likes" heroText="Likes" {pageMenuLinks}>
  <section class="contain">
    <h2 class="h1">{getEmojiFromCategory("movies")} Top Movies</h2>
    <div class="list list-tmdb">
      {
        allTimeMovies.map((m) => {
          const link = "";

          return <TMDBCard data={m} mini={true} />;
        })
      }
    </div>

    <h2 class="h1">{getEmojiFromCategory("shows")} Top Shows</h2>
    <div class="list list-tmdb">
      {allTimeShows.map((m) => <TMDBCard data={m} mini={true} />)}
    </div>

    <h2 class="h1">{getEmojiFromCategory("songs")} Top Songs</h2>
    <div class="list list-spotify">
      {allTimeSongs.map((m) => <SpotifyCard data={m} mini={true} />)}
    </div>

    <h2 class="h1">{getEmojiFromCategory("games")} Top Games</h2>
    <div class="list list-steam">
      {topGames.map((g) => <SteamCard data={g} mini={true} />)}
    </div>
  </section>
</CollectionLayout>

<style lang="scss">
  @use "@css/util";

  h2 {
    margin-bottom: 0.8rem;
  }

  .list {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list-tmdb {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 140px);

    @include util.mq(sm) {
      grid-template-columns: repeat(auto-fill, 180px);

      :global(.card-mini) {
        --img-width: 180px;
        --img-height: 270px;
      }
    }
  }

  .list-spotify {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 140px);

    @include util.mq(sm) {
      grid-template-columns: repeat(auto-fill, 180px);

      :global(.card-mini img) {
        width: 180px;
        height: 180px;
      }
    }
  }

  .list-steam {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
  }
</style>
