---
import { SITE } from "@constants";
import { getPageColorFromPath } from "@util";
import FloatMenu from "@components/FloatMenu.svelte";
import Footer from "@components/Footer.svelte";

import "@css/reset.css";
import "@css/fonts.css";
import "@css/base.scss";

const pageColor = getPageColorFromPath(Astro.url.pathname);
const { pageTitle, pageDescription, pageImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Regular Meta  -->
    <title>{SITE.TITLE}{pageTitle && ` ${pageTitle}`}</title>
    <link rel="canonical" href={canonicalURL} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription || SITE.DESCRIPTION} />

    <!-- OG Meta -->
    <meta property="og:url" content={canonicalURL} />
    <!-- @TODO: meta images <meta property="og:image" content="{{imageUrl}}" /> -->
    <meta
      property="og:description"
      content={pageDescription || SITE.DESCRIPTION}
    />
    <meta property="og:title" content={pageTitle || SITE.TITLE} />
    <meta property="og:site_name" content={SITE.TITLE} />
    <meta property="og:see_also" content={Astro.site} />

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle || SITE.TITLE} />
    <meta
      name="twitter:description"
      content={pageDescription || SITE.DESCRIPTION}
    />
    <!-- @TODO: meta images <meta
      name="twitter:image"
      content="https://html.sammy-codes.com/images/large-profile.jpg"
    /> -->
  </head>

  <body style={`--page-color: var(--c-${pageColor});`}>
    <!-- Header -->
    <nav id="nav-main" class="contain">
      <a class="skip-to-content" href="#main">Skip to main content</a>
      <FloatMenu client:load currentPage={Astro.url.pathname} />
    </nav>

    <!-- Main Content  -->
    <main id="main">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />

    <!-- Theme Support -->
    <script is:inline>
      const LSTheme = localStorage.getItem("theme");
      if (LSTheme) {
        document.documentElement.classList.add(`theme-${LSTheme}`);
      } else {
        document.documentElement.classList.add(
          window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "theme-dark"
            : "them-light",
        );
      }

      // Say hi to consolers
      console.log(
        "..........................\n         (｡◕‿‿◕｡)       \n    ✉️ yo@joshdplo.me   \n.......................... ",
      );
    </script>
  </body>
</html>

<style lang="scss">
  @use "@css/util";

  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    @include util.zindex(nav);
  }
</style>
