---
import { SITE } from "@constants";
import { getPageColorFromPath } from "@util";
import { ClientRouter } from "astro:transitions";
import HeadMeta from "@components/HeadMeta.astro";
import FloatMenu from "@components/FloatMenu.svelte";
import Footer from "@components/Footer.svelte";

import "@css/reset.css";
import "@css/fonts.css";
import "@css/base.scss";

const pageColor = getPageColorFromPath(Astro.url.pathname);
const { pageTitle, pageDescription, noBreadcrumbs, removeSiteTitle } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Title  -->
    <title>
      {!removeSiteTitle ? SITE.TITLE : ""}{pageTitle && ` ${pageTitle}`}
    </title>

    <!-- Meta  -->
    <HeadMeta
      pageTitle={`${!removeSiteTitle ? SITE.TITLE : ""}${pageTitle ? " " + pageTitle : ""}`}
      {pageDescription}
    />

    <!-- Theme Support -->
    <script is:inline>
      function theme() {
        const LSTheme = window?.localStorage?.getItem("theme");
        if (LSTheme) {
          document.documentElement.classList.add(`theme-${LSTheme}`);
        } else {
          document.documentElement.classList.add(
            window.matchMedia &&
              window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "theme-dark"
              : "theme-light",
          );
        }
      }

      theme();
      document.addEventListener("astro:page-load", () => {
        theme();
      });
    </script>

    <!-- Astro Page Transitions -->
    <ClientRouter />
  </head>

  <body style={`--page-color: var(--c-${pageColor});`}>
    <!-- Nav -->
    <a class="skip-to-content" href="#main">Skip to main content</a>
    <FloatMenu client:load currentPage={Astro.url.pathname} {noBreadcrumbs} />

    <!-- Main Content  -->
    <main id="main">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />

    <!-- Say hi to consolers -->
    <script is:inline>
      console.log(
        "..........................\n     hiiiiii (｡◕‿‿◕｡)\n  ✉️ hey@joshdplo.me ✉️ \n.......................... ",
      );
    </script>
  </body>
</html>

<style lang="scss">
  @use "@css/util";

  main {
    padding-top: 3.5rem;

    @include util.mq(sm) {
      padding-top: 3rem;
    }
  }
</style>
