---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import PageMenu from "@components/PageMenu.astro";

const {
  pageTitle = "EMPTY",
  heroText = "NULL",
  heroDescenders = false,
  heroSubtext = null,
  pageMenuLinks = [],
  currentPage = null,
} = Astro.props;
---

<BaseLayout {pageTitle}>
  <section class="contain">
    <div class="center-full">
      <HeroText
        text={heroText}
        subtext={heroSubtext}
        hasDescenders={heroDescenders}
      />
    </div>
    {
      pageMenuLinks.length > 0 && (
        <PageMenu links={pageMenuLinks} {currentPage} />
      )
    }
  </section>
  <slot />
</BaseLayout>
