---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { formatDate } from "@util";
const { frontmatter, slug } = Astro.props;

const imagesGlob = import.meta.glob("@images/*.{webp,jpg,png}");
const img = frontmatter.image
  ? imagesGlob[`/src/images/${frontmatter.image.pathname}`]()
  : null;
---

<BaseLayout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter?.description}
  noBreadcrumbs={true}
>
  <section class="contain" data-note-id={slug}>
    {
      img && (
        <Image src={img} alt={frontmatter.image.alt} width="900" height="380" />
      )
    }
    <div class="head">
      <h1>
        {frontmatter.title}
      </h1>
      <div class="subhead">
        {
          frontmatter?.updated && (
            <i class="updated bg-subtle">
              Updated {formatDate("" + frontmatter.updated)}
            </i>
          )
        }
        {
          frontmatter?.date && (
            <div class="date">
              Written {formatDate("" + frontmatter.date)} by{" "}
              {frontmatter?.authors.map((a) => (
                <a href={`/notes/authors/${a}`}>{a}</a>
              ))}
            </div>
          )
        }
        {
          frontmatter?.tags && (
            <div class="tags">
              {frontmatter?.tags.map((t) => (
                <a href={`/notes/tags/${t}`}>#{t}</a>
              ))}
            </div>
          )
        }
      </div>
    </div>

    <div class="content">
      <div class="inner">
        <slot />
      </div>
    </div>

    {
      frontmatter?.date && (
        <div class="hide" data-details>
          {frontmatter.updated ? "Updated" : "Written"}
          {formatDate("" + frontmatter.date)}
        </div>
        <a class="hide" href={`/notes/${slug}`} data-link>link</a>
      )
    }
  </section>
</BaseLayout>

<style lang="scss">
  @use "@css/util";

  img {
    margin-top: 1rem;
  }

  .head {
    position: relative;
    border-bottom: 0.1em dashed var(--content-subtle);
    background-color: var(--background);
    max-width: 660px;
    padding: 0.2rem 0 0.7rem;
  }

  h1 {
    padding: 0.2em 0 0;
    line-height: 1;
  }

  .subhead {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.5rem 0 0.3rem 0.1rem;
    font-size: 1rem;
    line-height: 1;

    a {
      font-size: 1rem;
    }
  }

  .updated {
    margin-right: auto;
  }

  .tags {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }

  .content {
    background-color: var(--c-quaternary);
  }

  .inner {
    background-color: var(--background);
    padding-top: 0.7em;
    max-width: 680px;

    @include util.mq(md) {
      padding-right: 1.4rem;
    }

    // offset for in-page navigation
    :global([id]:before) {
      display: block;
      content: " ";
      margin-top: -65px;
      height: 65px;
      visibility: hidden;
    }

    // lists
    :global(ul) {
      list-style-type: square;
      list-style-position: inside;
    }

    :global(ul ul) {
      padding-left: 0.7em;
    }

    // headers
    :global(h3 + h4) {
      margin-top: 0.4em;
    }

    // markdown hr
    :global(hr) {
      display: block;
      margin: 2rem 0;
      border-color: var(--content-subtle);
      border-style: dashed;
    }
  }
</style>
