---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { formatDate } from "@util";
const { frontmatter, slug } = Astro.props;

const imagesGlob = import.meta.glob("@images/*.{webp,jpg,png}");
const img = frontmatter.image
  ? imagesGlob[`/src/images/${frontmatter.image.pathname}`]()
  : null;
---

<BaseLayout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter?.description}
  noBreadcrumbs={true}
>
  <section class="contain" data-note-id={slug}>
    {
      img && (
        <Image src={img} alt={frontmatter.image.alt} width="900" height="514" />
      )
    }
    <div class="head">
      <h1 class="h4">
        {frontmatter.title}
      </h1>
      <div class="subhead">
        <div class="date">
          {`${formatDate("" + (frontmatter.updated || frontmatter.date))}`}{
            frontmatter.updated && " (Updated)"
          }
        </div>
        <div class="tags">
          {frontmatter.tags.map((t) => <a href={`/notes/tags/${t}`}>#{t}</a>)}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="inner">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@css/util";

  img {
    margin-top: 1rem;
  }

  .head {
    position: relative;
    border-bottom: 0.1em dashed var(--content-subtle);
    background-color: var(--background);
    max-width: 700px;
  }

  h1 {
    padding: 0.2em 0 0;
    line-height: 1;
  }

  .subhead {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.05rem 0 0.3rem;
    font-size: 1rem;

    a {
      font-size: 1rem;
    }

    @include util.mq(sm) {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  .tags {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }

  .content {
    background-color: var(--c-quaternary);
  }

  .inner {
    background-color: var(--background);
    padding-top: 0.7em;
    max-width: 720px;

    @include util.mq(md) {
      padding-right: 1.4rem;
    }

    :global(ul) {
      list-style-type: square;
      list-style-position: inside;
    }

    :global(ul ul) {
      padding-left: 0.7em;
    }

    :global([id]:before) {
      display: block;
      content: " ";
      margin-top: -65px;
      height: 65px;
      visibility: hidden;
    }
  }
</style>
